.usa {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
}

@media screen and (min-width: 768px) {
  .usa {
    max-width: 50vw;
  }
}

.grid {
  box-sizing: border-box;
  width: calc((100vw - 36px)/ 12 - 2px);
  height: calc(100vw / 12 - 4px);
}

@media screen and (min-width: 768px) {
  .grid {
    width: calc(50vw / 12 - 4px);
    height: calc(50vw / 12 - 4px);
  }
}

.state {
  position: relative;

  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
}

.state-cell.encoded {
  transition: background-color 0.2s, color 0.2s;

  width: 100%;
  height: calc(100% - 6px - 4px);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin: 2px;

  border: 3px solid transparent;
  border-radius: 3px;

  font-size: 2.4vw;
}

@media screen and (min-width: 768px) {
  .state-cell.encoded {
    font-size: 1.2vw;
  }
}

.usa.hide-labels :not(.last-in) .state-cell.encoded {
  color: transparent !important;
}

.usa .state-cell.dark {
  color: white !important;
}

.usa .abbr {
  color: #666666;
  font-weight: 600;
  font-size: 110%;
}


.usa .state-count {
  margin-top: -0.7px;
  color: #666666;
  font-size: 80%;
  font-weight: normal;
}