<div class="name">{{@state}}</div>
{{#each (filter (fn this.filterRanks @maxRank) @ranks) as |rank|}}
  <div
    class="state-cell grid"
    style={{compute this.colorScale rank}}
    title={{rank}}
  ></div>
{{/each}}